/* @import url(./font.css) */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.articleSection1{
    background-image: url(./images/articlepyramid.png);
    background-size: cover;
    height: 754px;
}

.articleSection1 >h1{
    font-family: Miller;
font-size: 64px;
font-weight: 600;
letter-spacing: 0em;
text-align: center;
color: #F9F9F9;


}

 .articleSection2, .articleSection3{
    width: 829px;
    display: table;
    margin: 0 auto;
}

.articleSection2 > .lists{
    /* display: table; */
    /* margin: 0 auto; */
}