/* @import url(./font.css) */

@import url(./font.css);

:root {
  --fs-xlarge: 4rem;
  --fs-large: 2.5rem;
  --fs-medium: 2rem;
  --fs-normal: 1.125rem;
  --fs-small: 1rem;
}

@media (max-width: 50em) {
  :root {
    --fs-xlarge: 2.5rem;
    --fs-large: 2rem;
    --fs-medium: 1.25rem;
    --fs-normal: 1rem;
    --fs-small: .875rem;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture,
source,
svg {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

html {
  scroll-behavior: smooth;
}

button {
  border: 0;
  outline: none;
  cursor: pointer;
}

body {
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  font-size: var(--fs-normal);
  /* line-height: 160%; */
  color: #3C3938;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: "Miller", serif;
  font-weight: 500;
  line-height: 130%;
}

h1 {
  text-align: center;
  color: white;
  font-size: var(--fs-xlarge);
}

/* Utilities */
.flex {
  display: flex;
}

.grid {
  display: grid;
}

.container {
  max-width: min(1275px, 100% - 2rem);
  margin-inline: auto;
}

.fs-small {
  font-size: var(--fs-small);
}

.fs-normal {
  font-size: var(--fs-normal);
}

.fs-medium {
  font-size: var(--fs-medium);
}

.fs-large {
  font-size: var(--fs-large);
}

.fs-xlarge {
  font-size: var(--fs-xlarge);
}

.clr-primary {
  color: hsla(17, 100%, 58%, 1);
}

.btn {
  border: 0;
  outline: none;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: var(--fs-normal);
  border-radius: 1.25rem;
  padding: 1rem 2rem;
  box-shadow: 0px 13px 21px 0px rgba(255, 112, 53, 0.30);
}

/* header */


.header {
    padding-block: .5rem;
    text-transform: uppercase;
  }
  
  .header__nav {
    justify-content: space-between;
    align-items: center;
  }
  
  .header__nav li {
    list-style: none;
  }
  
  .header__nav a {
    font-size: 1rem;
    text-decoration: none;
    color: hsla(15, 3%, 23%, 1);
  }
  
  .header__nav a.current {
    font-weight: bold;
    color: hsla(17, 100%, 58%, 1)
  }
  
  .header__nav ul {
    gap: 2rem;
  }
  
  .header__nav img {
    max-width: fit-content;
  }
  
  .header .flex {
    align-items: center;
  }
  
  .header__form input {
    outline: none;
    border: 1px solid #CCC9C7 ;
    border-radius: .5rem;
    padding: 1.1rem 1rem;
  }
  
  .header__form button {
    position: relative;
    top: .85rem;
    left: -0.85rem;
    border: 0;
    outline: none;
    background: transparent;
  }
  
  .mobile-nav {
    display: none;
    padding-block: 1rem;
    justify-content: space-between;
  }
  
  .mobile-nav img {
    width: 3.5rem;
  }
  
  .mobile-nav li {
    list-style: none;
  }
  
  .mobile-nav a {
    font-size: 1rem;
    text-decoration: none;
    color: hsla(15, 3%, 23%, 1);
  }
  
  .mobile-nav a.current {
    font-weight: bold;
    color: hsla(17, 100%, 58%, 1)
  }
  
  .mobile-nav__toggle {
    border: 0;
    outline: none;
    background: none;
  }
  
  .mobile-nav__toggle span {
    display: block;
    width: 2rem;
    height: .2rem;
    border-radius: .5rem;
    background-color: #1B1614;
  }
  
  .mobile-nav__toggle span:nth-child(1) {
    margin-bottom: .5rem;
  }
  
  .mobile-nav__toggle[aria-expanded="true"] span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 7px);
  }
  
  .mobile-nav__toggle[aria-expanded="true"] span:nth-child(2) {
    transform: rotate(-45deg) translate(2px, -3px);
  }
  
  @media (max-width: 69em) {
    .header__form img{
      display: none;
    }
  }
  
  @media (max-width: 64em) {
    .header__nav {
      display: none;
    }
  
    .mobile-nav {
      display: flex;
    }
  }




.articleSection1{
    background-image: url(./images/articlepyramid.png);
    background-size: cover;
    height: 754px;
    margin-bottom: 5%;
}

.articleSection1 >h1{
    font-family: Miller;
font-size: 64px;
font-weight: 600;
letter-spacing: 0em;
text-align: center;
color: #F9F9F9;


}

 .articleSection2, .articleSection3{
    width: 829px;
    display: table;
    margin: 0 auto;
}

.articleSection2 > .lists{
    padding: 3% 0;
    /* display: table; */
    /* margin: 0 auto; */
}

li{
    padding: 3% 0;
}

.sect2pimg{
    margin-top: 5%;
    margin-bottom: 5%;
}

.sect2p{
    font-family: Helvetica;
font-size: 18px;
font-weight: 400;
padding-bottom: 5%;

}

.listsP{
    font-family: Helvetica;
font-size: 18px;
font-weight: 400;

}

.bold2{
    font-family: Helvetica;
font-size: 20px;
font-weight: 700;

}

.articleSection3>h3{
    margin-bottom: 4%;
    /* text-align: center; */
font-family: Miller;
font-size: 32px;
font-weight: 600;

}

.h33{
    text-align: center;
}

.articleSection3 > button{
    background-color: #FF7035;
    color: #FFFFFF;
    padding: 16PX 44PX;
    border-radius: 20PX;
    border: 1PX SOLID #FF7035;
    margin-left: 20%;
    margin-top: 1%;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 3%;
}




/* Footer */
footer {
    text-align: center;
  }
  
  .subscribe .container,
  .footer .container {
    max-width: min(690px, 100% - 2rem);
  }
  
  .subscribe {
    padding-block: 3rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./images/subscribe-bg.png);
    background-color: hsl(15, 100%, 82%);
  }
  
  .subscribe .container {
    display: grid;
    gap: 2rem;
    place-items: center;
  }
  
  .subscribe__text {
    padding-inline: 2rem;
  }
  
  .subscribe h2 {
    font-family: "Miller", serif;
    font-weight: 400;
    font-size: var(--fs-large);
    margin-bottom: 1rem;
    color: black;
  }
  
  .subscribe__form {
    justify-content: center;
    width: 100%;
    margin-inline: auto;
    margin-top: 1rem;
    gap: .5rem;
  }
  
  .subscribe__form input {
    flex-basis: 70%;
    border: 1px solid hsl(24, 5%, 79%);
    outline: none;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
  }
  
  .subscribe__form button {
    font-weight: 700;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    border-radius: 1.25rem;
    border: 1px solid hsl(24, 5%, 79%);
    color: hsla(17, 100%, 58%, 1);
    background: hsl(0, 100%, 100%);
  }
  
  @media (max-width: 50em) {
    .subscribe__form {
      flex-direction: column;
    }
  
    .subscribe__form button {
      width: 60%;
      margin-inline: auto;
    }
  }
  
  .footer {
    position: relative;
    padding-block: 3.5rem;
    background-color: hsla(16, 100%, 96%, 1);
  }
  
  .footer .container {
    display: grid;
    gap: 3rem;
    place-items: center;
  }
  
  .footer__nav ul {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer__nav li {
    list-style: none;
    text-align: center;
  }
  
  .footer__nav  li:nth-child(5) {
    margin-inline: auto;
  }
  
  .footer__nav a {
    font-size: var(--fs-small);
    text-transform: uppercase;
    text-decoration: none;
    color: hsla(15, 3%, 23%, 1);
  }
  
  .footer__nav .flex {
    gap: 2rem;
  }
  
  .footer__icons {
    gap: 1.75rem;
    margin-bottom: 3rem;
  }
  
  .copyright {
    font-size: .875rem;
  }
  
  .scroll-up {
    position: absolute;
    bottom: 20%;
    right: 6%;
    text-transform: uppercase;
  }
  
  .scroll-up a {
    display: grid;
    gap: 1rem;
    place-items: center;
    text-decoration: none;
    color: inherit;
    font-size: var(--fs-normal);
    font-weight: 600;
  }