@import url(./font.css);

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img,
picture,
svg {
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

button {
    border: 0;
    outline: none;
    cursor: pointer;
}

body {
    font-family: "Helvetica", sans-serif;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #3C3938;
}

/* Utilities */
.flex {
    display: flex;
}

.container {
    max-width: min(1275px, 100% - 2rem);
    margin-inline: auto;
}

/* Header */
.header {
    padding-block: .5rem;
    text-transform: uppercase;
    margin-bottom: 0%;
}

.header__nav {
    justify-content: space-between;
    align-items: center;
}

.header__nav li {
    list-style: none;
}

.header__nav a {
    font-size: 1rem;
    text-decoration: none;
    color: hsla(15, 3%, 23%, 1);
}

.header__nav a.current {
    color: hsla(17, 100%, 58%, 1)
}

.header__nav ul {
    gap: 2rem;
}

.header .flex {
    align-items: center;
}

.header__form input {
    outline: none;
    border: 1px solid #CCC9C7;
    border-radius: .5rem;
    padding: 1.1rem 1rem;
}

.header__form button {
    position: relative;
    top: .85rem;
    left: -0.85rem;
    border: 0;
    outline: none;
    background: transparent;
}

main {
    background-color: #FFFEFE;
}

/* Footer */
footer {
    text-align: center;
}

.subscribe .container,
.footer .container {
    max-width: min(690px, 100% - 2rem);
}

.subscribe {
    padding-block: 3rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./images/subscribe-bg.png);
    background-color: hsl(15, 100%, 82%);
}

.subscribe .container {
    display: grid;
    gap: 2rem;
    place-items: center;
}

.subscribe__text {
    padding-inline: 2rem;
}

.subscribe h2 {
    font-family: "Miller", serif;
    font-weight: 400;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: black;
}

.subscribe__form {
    justify-content: center;
    width: 100%;
    margin-inline: auto;
    margin-top: 1rem;
    gap: .5rem;
}

.subscribe__form input {
    flex-basis: 70%;
    border: 1px solid hsl(24, 5%, 79%);
    outline: none;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
}

.subscribe__form button {
    font-weight: 700;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    border-radius: 1.25rem;
    border: 1px solid hsl(24, 5%, 79%);
    color: hsla(17, 100%, 58%, 1);
    background: hsl(0, 100%, 100%);
}

.footer {
    padding-block: 3.5rem;
    background-color: hsla(16, 100%, 96%, 1);
}

.footer .container {
    display: grid;
    gap: 3rem;
    place-items: center;
}

.footer__nav li {
    list-style: none;
}

.footer__nav a {
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: hsla(15, 3%, 23%, 1);
}

.footer__nav .flex {
    gap: 2rem;
}

.footer__icons {
    gap: 1.75rem;
    margin-bottom: 3rem;
}

.copyright {
    font-size: .875rem;
}

/* Banner */
.banner {
    position: relative;
}

.banner-img {
    margin-top: 0%;
    width: 100%;
}

.banner-text {
    font-family: Miller;
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    color: #F9F9F9;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 0%;
    right: 0%;
}

.banner-arrow {
    max-width: 16px;
    width: 100%;
    position: absolute;
    bottom: 2%;
    left: 48%;
}

.banner-mouse {
    max-width: 12.86px;
    width: 100%;
    position: absolute;
    bottom: 2.5%;
    right: 48%;
}

/* Intro text */
.intro-text {
    text-align: center;
    max-width: 829px;
    width: 100%;
    margin: 4% auto;
}

.intro-text h3 {
    font-family: Miller;
    font-size: 2.5rem;
    font-weight: 600;
    color: #1B1614;
    margin-bottom: 4%;
}

.orange-text {
    color: #FC4F08;
}

.intro-text p {
    font-family: Helvetica;
    font-size: 1.125rem;
    font-weight: 400;
}

/* Image Grid */

.img-grid h4 {
    font-family: Miller;
    font-size: 2rem;
    font-weight: 400;
    color: #F5F5F5;
}

.img-grid button {
    max-width: 180px;
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 20px;
    background-color: #FF7035;
    color: #FFFEFE;
    font-family: Helvetica;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0px 13px 21px 0px #FF70354D;
}

.img-grid img {
    border-radius: 8px;
    margin-bottom: 4%;
}

.img-grid {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}

.left-col,
.middle-col {
    margin-right: 1.5%;
}

.africa,
.antartica,
.europe,
.oceania,
.north-america,
.asia,
.south-america {
    position: relative;
}

.africa h4,
.antartica h4,
.europe h4,
.oceania h4,
.north-america h4,
.asia h4,
.south-america h4 {
    position: absolute;
    top: 37%;
}

.africa h4 {
    left: 39%;
}

.antartica h4 {
    left: 34%;
}

.europe h4 {
    left: 37%;
}

.oceania h4 {
    left: 36%;
}

.north-america h4 {
    left: 25%;
}

.asia h4 {
    left: 43%;
}

.south-america h4 {
    left: 25%;
}

.africa button,
.antartica button,
.europe button,
.oceania button,
.north-america button,
.asia button,
.south-america button {
    position: absolute;
    bottom: 30%;
    left: 28%;
}