*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.faqSection1{
    background-image: url(./images/Img.png);
    height: 754px;
}

.faqSection1 > h1{
    text-align: center;
    color: #F9F9F9;
    font-family: Miller;
    font-size: 64px;
    font-weight: 600;


}