@import url(./font.css);

:root {
  --fs-xlarge: 4rem;
  --fs-large: 2.5rem;
  --fs-medium: 2rem;
  --fs-normal: 1.125rem;
  --fs-small: 1rem;
}

@media (max-width: 50em) {
  :root {
    --fs-xlarge: 2.5rem;
    --fs-large: 2rem;
    --fs-medium: 1.5rem;
    --fs-normal: 1rem;
    --fs-small: .875rem;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture,
source,
svg {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

html {
  scroll-behavior: smooth;
}

button {
  border: 0;
  outline: none;
  cursor: pointer;
}

body {
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  font-size: var(--fs-normal);
  line-height: 160%;
  color: #3C3938;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: "Miller", serif;
  font-weight: 500;
  line-height: 130%;
}

h1 {
  text-align: center;
  color: white;
  font-size: var(--fs-xlarge);
}

h2 {
  font-size: 3rem;
}

@media (max-width: 50em) {
  h2 {
    font-size: 2rem;
  }
}

/* Utilities */
.flex {
  display: flex;
}

.grid {
  display: grid;
}

.container {
  max-width: min(1275px, 100% - 2rem);
  margin-inline: auto;
}

.fs-small {
  font-size: var(--fs-small);
}

.fs-normal {
  font-size: var(--fs-normal);
}

.fs-medium {
  font-size: var(--fs-medium);
}

.fs-large {
  font-size: var(--fs-large);
}

.fs-xlarge {
  font-size: var(--fs-xlarge);
}

.clr-primary {
  color: hsla(17, 100%, 58%, 1);
}

.btn {
  border: 0;
  outline: none;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: var(--fs-normal);
  border-radius: 1.25rem;
  padding: 1rem 2rem;
}

.btn:hover {
  box-shadow: 0px 13px 21px 0px rgba(255, 112, 53, 0.30);
}

/* Header */
.header {
  padding-block: 1.25rem;
  text-transform: uppercase;
}

.header__nav {
  justify-content: space-between;
  align-items: center;
}

.header__nav li {
  list-style: none;
}

.header__nav a {
  font-size: 1rem;
  text-decoration: none;
  color: hsla(15, 3%, 23%, 1);
}

.header__nav a.current {
  font-weight: bold;
  color: hsla(17, 100%, 58%, 1)
}

.header__nav ul {
  gap: 2rem;
}

.header__nav img {
  max-width: fit-content;
}

.header .flex {
  align-items: center;
}

.header__form {
  gap: .5rem;
}

.header__form input {
  border: 1px solid #CCC9C7;
  height: 56px;
  border-radius: .5rem;
  padding: 1.1rem 1rem;
}

.header__form button {
  width: 56px;
  height: 56px;
  border: 0;
  outline: none;
  background: transparent;
}

.header__form button:hover {
  box-shadow: 0px 13px 21px 0px rgba(255, 112, 53, 0.30);
}

.mobile-nav {
  display: none;
  padding-block: 1rem;
  justify-content: space-between;
}

.mobile-nav img {
  width: 3.5rem;
}

.mobile-nav li {
  list-style: none;
}

.mobile-nav a {
  font-size: 1rem;
  text-decoration: none;
  color: hsla(15, 3%, 23%, 1);
}

.mobile-nav a.current {
  font-weight: bold;
  color: hsla(17, 100%, 58%, 1)
}

.mobile-nav__toggle {
  border: 0;
  outline: none;
  background: none;
}

.mobile-nav__toggle span {
  display: block;
  width: 2rem;
  height: .2rem;
  border-radius: .5rem;
  background-color: #1B1614;
  transition: transform 100ms ease-out;
}

.mobile-nav__toggle span:nth-child(1) {
  margin-bottom: .5rem;
}

.mobile-nav__toggle[aria-expanded="true"] span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 7px);
}

.mobile-nav__toggle[aria-expanded="true"] span:nth-child(2) {
  transform: rotate(-45deg) translate(1px, -3px);
}

@media (max-width: 69em) {
  .header__form img {
    display: none;
  }
}

@media (max-width: 64em) {
  .header__nav {
    display: none;
  }

  .header__nav[data-visible="true"] {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    inset: 0;
    background-color: white;
    z-index: 20;
  }

  .header__nav a {
    font-size: 1rem;
  }

  .mobile-nav__toggle[aria-expanded="true"] {
    position: fixed;
    right: 1rem;
    z-index: 999;
  }

  .header__nav div,
  .header__form {
    display: none;
  }

  .header__nav .flex {
    flex-direction: column;
  }

  .mobile-nav {
    display: flex;
  }

  .no-scroll {
    overflow: hidden;
  }
}

/* Hero */
/* Swiper */
.swiper {
  position: relative;
  width: 100%;
  height: 100vh;
  height: 100svh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-disabled {
  display: none !important;
}

.swiper-slide .container {
  padding-inline: 10%;
}

.swiper .progress-bar {
  position: absolute;
  width: 23rem;
  top: 2rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.mouse-scroll {
  position: absolute;
  width: 3.8rem;
  bottom: 1rem;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.mouse-scroll button {
  border: 0;
  outline: none;
  background: none;
}

.hero .swiper-slide {
  display: grid;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero .africa {
  background-image: url("./images/hero-africa-bg.svg");
}

.hero .europe {
  background-image: url("./images/hero-europe-bg.svg");
}

.hero .asia {
  background-image: url("./images/hero-asia-bg.svg");
}

.hero .antartica {
  background-image: url("./images/hero-antartica-bg.svg");
}

.hero .oceania {
  background-image: url("./images/hero-oceania-bg.svg");
}

.hero .south-america {
  background-image: url("./images/hero-south-america-bg.svg");
}

.hero .north-america {
  background-image: url("./images/hero-north-america-bg.svg");
}

.hero__text>*:not(:last-child) {
  margin-bottom: 2rem;
}

.hero__text a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: var(--fs-normal);
  border-radius: 1.25rem;
  padding: 1rem 2rem;
  box-shadow: 0px 13px 21px 0px rgba(255, 112, 53, 0.30);
  color: white;
  background-color: hsla(17, 100%, 58%, 1);
}

@media (max-width: 50em) {
  .swiper-slide .container {
    padding-inline: 0;
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: 80vh;
  }

  .swiper .progress-bar {
    width: 18rem;
  }
}

/* Shared BG */
.shared-bg {
  background-image: url("./images/shared-bg.svg");
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;
}

/* About */
.about {
  position: relative;
  display: grid;
  place-items: center;
  padding-block: 20rem;
  padding-inline: 28%;
  text-align: center;
}

.about__text {
  position: relative;
  z-index: 10;
}

.about h2 {
  color: black;
  margin-bottom: 3rem;
}

.about__button {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: var(--fs-normal);
  border-radius: 1.25rem;
  padding: 1rem 2rem;
  box-shadow: 0px 13px 21px 0px rgba(255, 112, 53, 0.30);
  color: hsla(17, 100%, 58%, 1);
  background-color: white;
}

.traveler-boy,
.traveler-girl {
  position: absolute;
}

.traveler-boy {
  top: 4rem;
  left: 2rem;
}

.traveler-girl {
  bottom: 1rem;
  right: 2rem;
}

@media (max-width: 50em) {
  .about {
    padding-block: 13rem;
  }

  .about__button {
    font-size: .75rem;
  }
}

@media (max-width: 35em) {
  .about {
    padding-inline: 5%;
  }

  .traveler-boy {
    top: 21rem;
    left: .5rem;
  }

  .traveler-girl {
    bottom: .1rem;
  }

  .traveler-boy,
  .traveler-girl {
    width: 10rem;
  }
}

/* Destinations */
.destinations {
  padding-block: 2rem 10rem;
  text-align: center;
}

.destinations .container>*:not(:last-child) {
  margin-bottom: 3rem;
}

.destinations__text h2 {
  font-size: var(--fs-xlarge);
  color: black;
}

.destinations__btn {
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
  width: 33ch;
  font-weight: 700;
  font-size: var(--fs-normal);
  border-radius: 1.25rem;
  padding: 1rem 2rem;
  box-shadow: 0px 13px 21px 0px rgba(255, 112, 53, 0.30);
  color: white;
  background-color: hsla(17, 100%, 58%, 1);
}

@media (max-width: 50em) {
  .destinations__images {
    flex-direction: column;
  }

  .destinations__btn {
    width: 38ch;
    font-size: .75rem;
  }
}

/* Travel Resources */
.resources {
  padding-block: 1rem 4rem;
}

.resources .container.grid {
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
}

.resources h2 {
  font-size: var(--fs-xlarge);
}

.resources__text>*:not(:last-child) {
  margin-bottom: 1.5rem;
}

.resources__btn {
  width: 35ch;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: hsla(17, 100%, 58%, 1);
}

@media (max-width: 50em) {
  .resources {
    text-align: center;
  }

  .resources__btn {
    font-size: .75rem;
    width: 40ch;
    margin-inline: auto;
  }

  .resources .container.grid {
    grid-template-columns: 1fr;
  }
}

/* Travel Tips */
.travel-tips {
  padding-block: 4rem 10rem;
  text-align: center;
  color: white;
  background-image: url("./images/travel-tips-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.travel-tips .container {
  gap: 6rem;
}

.travel-tips__text>*:not(:last-child) {
  padding-bottom: 2rem;
}

.travel-tips__btn {
  color: white;
  background-color: hsla(17, 100%, 58%, 1);
}

.travel-tips__callout {
  font-family: "Miller", serif;
  font-size: var(--fs-medium);
  width: fit-content;
  margin-inline: auto;
  padding: 0.5rem 1rem;
  color: black;
  background-color: #FCE2D7;
}

/* Featured Articles */
.featured-articles {
  margin-bottom: 12rem;
}

.featured-articles__text {
  text-align: center;
  padding-block: 5rem;
}

.featured-articles__text p {
  max-width: 62ch;
  margin-inline: auto;
}

.featured-articles__articles {
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 5rem;
}

.featured-articles__btn {
  gap: 1rem;
  width: fit-content;
  margin-inline: auto;
  color: white;
  background-color: hsla(17, 100%, 58%, 1);
}

.featured-article {
  padding-bottom: 3rem;
  border-radius: .5rem;
  width: 32rem;
  min-width: 20.875rem;
  max-width: 56.25rem;
  background-color: white;
  border: 1px solid #CCC9C7;
  box-shadow: 8px 14px 40px 0px rgba(0, 0, 0, 0.25);
}

.featured-article:nth-child(1) {
  transform: rotate(4deg);
}

.featured-article:nth-child(2) {
  transform: rotate(-4deg);
}

.featured-article img {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.featured-article__text {
  padding: 1rem 1.5rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid #3C3938;
}

.featured-article__title {
  justify-content: space-between;
  gap: 1rem;
}

.featured-article__title p {
  flex-basis: 60%;
}

.featured-article h3 {
  min-width: 9.375rem;
  max-width: 32.75rem;
}

.featured-article__text p {
  margin-top: .25rem;
}

.featured-article__text>*:not(:last-child) {
  margin-bottom: 1rem;
}

.featured-article__tags {
  text-transform: uppercase;
  gap: .75rem;
}

.featured-article__tags p {
  font-size: var(--fs-small);
  padding: .5rem 1rem;
  border: 1px solid #3C3938;
  border-radius: 1.25rem;
}

.featured-article__btn {
  display: block;
  width: fit-content;
  margin-inline: auto;
  box-shadow: none;
  border: 1px solid #3C3938;
  color: hsla(17, 100%, 58%, 1);
}

@media (max-width: 73rem) {
  .featured-articles__articles {
    gap: 3rem;
  }

  .featured-article {
    max-width: 20rem;
  }

  .featured-article__title p {
    flex-basis: 110%;
  }

  .featured-article__tags p {
    font-size: .65rem;
    padding: .5rem .7rem;
  }
}

/* Footer */
footer {
  text-align: center;
}

.subscribe .container,
.footer .container {
  max-width: min(690px, 100% - 2rem);
}

.subscribe {
  padding-block: 3rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(./images/subscribe-bg.png);
  background-color: hsl(15, 100%, 82%);
}

.subscribe .container {
  display: grid;
  gap: 2rem;
  place-items: center;
}

.subscribe__text {
  padding-inline: 2rem;
}

.subscribe h2 {
  font-family: "Miller", serif;
  font-weight: 400;
  font-size: var(--fs-large);
  margin-bottom: 1rem;
  color: black;
}

.subscribe__form {
  justify-content: center;
  width: 100%;
  margin-inline: auto;
  margin-top: 1rem;
  gap: .5rem;
}

.subscribe__form input {
  flex-basis: 70%;
  border: 1px solid hsl(24, 5%, 79%);
  outline: none;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
}

.subscribe__form button {
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  border-radius: 1.25rem;
  border: 1px solid hsl(24, 5%, 79%);
  color: hsla(17, 100%, 58%, 1);
  background: hsl(0, 100%, 100%);
}

@media (max-width: 50em) {
  .subscribe__form {
    flex-direction: column;
  }

  .subscribe__form button {
    width: 60%;
    margin-inline: auto;
  }
}

.footer {
  position: relative;
  padding-block: 3.5rem;
  background-color: hsla(16, 100%, 96%, 1);
}

.footer .container {
  display: grid;
  gap: 3rem;
  place-items: center;
}

.footer__nav ul {
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.footer__nav li {
  list-style: none;
  text-align: center;
}

.footer__nav a {
  font-size: var(--fs-small);
  text-transform: uppercase;
  text-decoration: none;
  color: hsla(15, 3%, 23%, 1);
}

.footer__nav .flex {
  gap: 2rem;
}

.footer__icons {
  gap: 1.75rem;
  margin-bottom: 3rem;
}

.copyright {
  font-size: .875rem;
}

.scroll-up {
  position: absolute;
  bottom: 20%;
  right: 6%;
  text-transform: uppercase;
}

.scroll-up a {
  display: grid;
  gap: 1rem;
  place-items: center;
  text-decoration: none;
  color: inherit;
  font-size: var(--fs-normal);
  font-weight: 600;
}

@media (max-width: 25em) {
  .footer__nav li:nth-child(5) {
    margin-inline: auto;
    width: 100%;
  }
}